[submodule "src/odrive"]
	path = src/odrive
	url = https://github.com/TheNewtonCapstone/ros-odrive.git
[submodule "src/n_inputs/lib/gainput"]
	path = src/n_inputs/lib/gainput
	url = https://github.com/jkuhlmann/gainput.git
